body{
    font-size: 24px;
    width: 40em;
    margin: auto;
    background-color:green ;

}

img{
    width: 10em;
    height: 10em;
    float: left;
}

@media(max-height: 960px){
    body{
        background-color: tan;
        width: 30em;
    }
}